spring:
  datasource:
    url: jdbc:mysql://localhost:3306/EmployeeManagement?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: huyho2004
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect