spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ProdDB
    username: prod_user
    password: ${DB_PROD_PASSWORD}
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: validate
    show-sql: false

